body {
  background-color: rgb(47, 56, 56);
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.1rem;
}
span {
  color: purple;
}
.header {
  border-bottom: 2px solid purple;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  text-align: center;
  align-items: center;
  background-image: url(./images/showcase.jpg);
  height: 400px;
}

.subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.parts {
  display: flex;

  background: rgb(238, 231, 231);
  color: black;
}

a {
  text-decoration: none;
  color: white;
}

.parts div {
  margin: 20px 10px 20px;
}

button {
  color: white;
  background-color: orangered;
  border: none;
  padding: 10px;
}

input {
  padding: 10px;
  border: none;
  outline: none;
}

/* Services */

.services {
  text-align: left;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}
.left {
  width: 80%;
}
.left div {
  background-color: whitesmoke;
  border: 1px solid black;
  margin: 10px 25px;
  padding: 20px 10px;
}

.quote {
  background-color: rgb(47, 56, 56);
  color: white;
  margin: 10px 25px;
  padding: 20px 20px 10px 10px;
  text-align: left;
  width: 20%;
}

/* About */
.about {
  background-color: whitesmoke;
  color: black;
  margin: 10px 25px;
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  text-align: left;
}

.first p:nth-of-type(2),
.second {
  background-color: rgb(47, 56, 56);
  color: white;
}

.first,
.second {
  margin: 10px;
  padding: 20px;
}
